@media screen and (max-width:960px){
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
      }
    
      .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
      }
    
      .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 24px;
      }
    
      #navbar__logo {
        padding-left: 25px;
      }
    
      .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
      }
    
      .navbar__item {
        width: 100%;
      }
    
      .navbar__links {
        text-align: center;
        padding: 32px;
        width: 100%;
        display: table;
      }
    
      .navbar__btn {
        padding-bottom: 32px;
      }
    
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
      }
    
      #mobile_menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
      }
    
      .navbar__toggle .bar {
        display: block;
        cursor: pointer;
      }

      #mobile_menu.is_active .bar:nth-child(2) {
        opacity: 0;
      }
    
      #mobile_menu.is_active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
    
      #mobile_menu.is_active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }

    
      .services h2 {
        font-size: 32px;
        margin-top: 192px;
      }
}

@media screen and (max-width: 820px) {
  .footer__links {
    padding-top: 2rem;
  }

  #footer__logo {
    margin-bottom: 2rem;
  }

  .website__rights {
    margin-bottom: 2rem;
  }

  .footer__link__wrapper {
    flex-direction: column;
  }

  .social__media__wrap {
    flex-direction: column;
  }
}

@media screen and (max-width:768px){
    .main__container{
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      /* width: 100%; */
      margin: 0 auto;

    }

    .main__content{
      text-align: center;
      margin-bottom: 64px;
    }

    .main__content h1{
      font-size: 40px;
      margin-top: 32px;
    }

    .main__content h2{
      font-size: 48px;
    }

    .main__content p{
      font-size: 16px;
      margin-top: 16px;
    }

    #main__img{
      padding-top:0;
  }

  .services h2 {
    font-size: 25px;

  }
  .services__card {
    width: 330px;
    height: 440px;
  }
}

@media screen and (max-width:480px){
  .main__content h1{
    font-size: 32px;
    margin-top: 32px;
  }

  .main__content h2{
    font-size: 32px;
  }

  .main__content p{
    font-size: 20px;
    /* margin-top: 32px; */
  }

  .main__btn{
    padding: 12px 36px;
    margin: 40px 0;
  }

  #main__img{
    padding-top: 0;
}

.services h2 {
  font-size: 20px;
}

.services__card {
  width: 250px;
  height: 400px;
}

.serivces h3{
  font-size: 22px;
  top:  280px;
  left: 30px;


}

.services__card p {
  top: 315px;
  left: 30px;
  font-size: 12px;
}

.services__card button {
  top: 340px;
  left: 30px;
  font-size: 14px;

}

.footer__link__items {
  margin: 0;
  padding: 10px;
  width: 100%;
}
}